

<nav class="navbar navbar-expand-md fixed-top">

  <a class="imga" href="#">
    <img src="/assets/img/dxclogo1.jpg" width="45" height="50" class="d-inline-block align-top" alt="logo">
  </a>

  &nbsp;

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Home</a>
      </li>
      <li class="nav-item activate">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>

      <li class="nav-item fs">
        <a class="nav-link" href="/registration">Signup</a>
      </li>


      <li class="nav-item dropdown fr">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="/admin-login">Admin</a>
          <a class="dropdown-item" href="/userlogin">User</a>
        </div>
      </li>
    </ul>
  
  </div>
</nav>






<div class="about-section">
    
    <h1>Book your seat from anywhere, Make the path you deserve </h1><br>
    <h5>DXC Technology is a leading professional organization which makes your life easy! Trust us :) </h5>
    
</div>







<div class="container cnt">

<p>

  Welcome to DXC Technology, your number one source for all things especially seat booking. We're dedicated to giving you the very best of seat booking, with a focus on three characteristics, ie: dependability, customer service and uniqueness.


  DXC Technology is a customer experience agency operating in India. Our message is clear and honest. DXC Technology's motto, "Thrive on change" rocks primarily due to one thing, they have successfully managed to skip all the industry babble, keeping things simple.

  People love to read and hear straight talk about how exactly it is you are going to help them grow. If your target audience does not know what you do, why would they ever need you in the first place? 

There is no doubt a company is only as good as its team – and DXC Technology has displayed this quite creatively, giving backgrounds of their all vital team members.

The creative faces behind the company’s success. DXC Technology has managed to beautifully keep it simple – instilling a feeling of trust while providing you a unique seat booking.

</p>

</div>






<div class="jumbotron">
  <h1 class="display-4 text-center">Integrity Matters at DXC</h1>
  <p class="lead text-center">At DXC Technology, our people work hard every day to establish and maintain a culture of performance with integrity in all activities, everywhere, at all times.</p>
  <hr class="my-4">
  <p class="text-center">For these reasons and more, each of DXC’s board directors and management affirm their personal commitment to our CLEAR values and a strong culture of integrity.</p>
  <p class="lead text-center">
    <a class="btn btn-primary btn-lg" href="https://assets1.dxc.technology/governance/images/MD_6013a-17_CLEAR_Values_v1.jpg" role="button">Know more about CLEAR VALUES</a>
  </p>
</div> 



<br>



<h2 style="text-align:center">Board of Directors</h2>
<br>
  <div class="row">
    <div class="column">
      <div class="card">
       
        <div class="container">
          <h2 class="font-weight-bolder">Ian C. Read</h2>
          <p class="title font-weight-bold">Chairman</p>
          <p>Chairman of DXC Technology, former Chairman and CEO of Pfizer and 
            current member of Kimberly-Clark Corporation Board of Directors.
            he had served as chairman of the board and chief executive officer since 
            December 2011 and as president and CEO since December 2010.

          </p>
    <!-- <p>ian.read@dxc.com</p> -->
         
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        
        <div class="container">
          <h2 class="font-weight-bolder">Mike Salvino</h2>
          <p class="title font-weight-bold">President and CEO of DXC Technology</p>
          <p>  Mr. Salvino, who became CEO in September 2019, 
            also serves on the DXC Board of Directors, where he has been a member since May 2019.
            Prior to joining DXC, Mr. Salvino served as managing director of Carrick Capital Partners 
            from 2016 to 2019.
          </p>
          <!-- <p>mike.salvino@dxc.com</p> -->
          
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
      
        <div class="container">
          <h2 class="font-weight-bolder">Mukesh Aghi</h2>
          <p class="title font-weight-bold">President and CEO of USISPF (US-India Strategic Partnership Forum</p>
          <p>Dr. Aghi has extensive experience working with business and government leaders 
            in the U.S. and India to promote trade and strengthen ties between the two 
            countries. He also currently serves as a trustee at Claremont Graduate University.
          </p>
          <!-- <p>mukesh.aghi@dxc.com</p> -->
          
        </div>
      </div>
    </div>
  </div>







