

<nav class="navbar navbar-expand-md fixed-top">

  <a class="imga" href="#">
    <img src="/assets/img/dxclogo1.jpg" width="45" height="50" class="d-inline-block align-top" alt="logo">
  </a>

  &nbsp;

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item activate">
        <a class="nav-link" href="/contact">Contact</a>
      </li>

      <li class="nav-item fs">
        <a class="nav-link" href="/registration">Signup</a>
      </li>


      <li class="nav-item dropdown fr">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="/admin-login">Admin</a>
          <a class="dropdown-item" href="/userlogin">User</a>
        </div>
      </li>
    </ul>
  
  </div>
</nav>



 


<h1 id="hdng">Contact Information</h1>




  <div  class="row cntnr">
    <div class="column">
      <div  class="card">
       
        <div class="container">
      
          <h2 class="shd">Our Address</h2>
          <p>
          
            DXC Technology,
            DGS-Campus Phase-1, HP Avenue, 39/40, Hosur Rd,
            Electronic City, Bengaluru, Karnataka 560100.
           
          </p>
          <p>support@dxc.com</p>
         
        </div>
      </div>
    
  </div>












  <div  class="row cntnr2">
    <div class="column col-md-12">
      <div  class="card">
       
        <div class="container">
          <h4 class="shd">General Contact</h4>
         
          <p>         
            Speak with DXC by calling: 1-234-567-891 or write to us and
            an expert consultant will follow-up with you.         
          </p>
          <p>Write to us at - generalinfo@dxc.com</p>


          <hr>

          

          <h4 class="shd">Seat Booking Related Queries</h4>       
          <p>        
            Speak with DXC by calling: 3-123-456-7890 or write to us and
            an expert consultant will follow-up with you.          
          </p>
          <p>Write to us at - sbquery@dxc.com</p>


          <hr>


          <h4 class="shd">Contact DXC SALES</h4>       
          <p>        
            Speak with DXC by calling: 1-833-606-1770 or write to us and
            an expert consultant will follow-up with you.          
          </p>
          <p>Write to us at - sales@dxc.com</p>


          <hr>


          <h4 class="shd">DXC Partner Network</h4>       
          <p>        
            Speak with DXC by calling: 2-123-456-7890 or write to us and
            an expert consultant will follow-up with you.          
          </p>
          <p>Write to us at - dpn@dxc.com</p>

      
        </div>
      </div>
    
  </div> 




